@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
:root{
    --primary-dark: #233845;
    --secondary-dark: #36576b;
    --accent-color: #d0b763;
    --primary-light: rgb(235, 232, 232);
    --secondary-light: #fffcf2;
    --dark-text: #061634;
    --light-text: #fefefe;
}

/* reset */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
li{
    list-style: none;
}
/* base styles */
body{
    background: var(--primary-light);
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 20px;
    min-height: 100vh;
}
.button{
    background: var(--primary-dark);
    color: var(--accent-color);
    padding: 6px 15px;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    transition: background .5s ease;
    cursor: pointer;
}
.button:hover{
    background: var(--accent-color);
    color: var(--secondary-dark);
}
input, textarea{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 10px 15px;
    border: solid 2px var(--secondary-dark);
    color: var(--dark-text);
}

/* fonts */
h1, h2, h3, h4, h5, h6{
    color: var(--dark-text);
    font-weight:normal;
}
p, a, li{
    color: var(--dark-text);
    line-height: 1.6;
}
h1 {
    font-size: 1.6em;
}
h2{
    font-size: 1.4em;
}
h3{
    font-size: 1.2em;
}

nav{
    background-color: var(--primary-dark);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
nav li{
    height: 50px;
}
nav a{
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    color: var(--light-text);
    transition: .5s ease;
}
nav a:hover{
    background-color: var(--secondary-dark);
    color: var(--accent-color);
}
nav li:first-child {
    margin-right: auto;
    font-weight: bold;
}

.sidebar{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width:100%;
    z-index: 999;
    background-color: rgba(81, 79, 79, 0.4);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    backdrop-filter: blur(10px);
    
}
.sidebar li{
    width: 100%;
}
.sidebar a:hover{
    background-color: rgba(0, 0, 0, 0.4);
}
/* mobile styles */
.hideOnMobile {
    display: none;
}

/* small tablet styles */
@media screen and (min-width: 500px) {
.sidebar{
    width: 300px;
}
}
/* large tablet + laptop styles */
@media screen and (min-width: 960px) {
.hideOnMobile {
    display: block;
}
.hideOnDesktop {
    display: none;
}
}